name: Lint
on:
  push:
  pull_request:
jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ansible-lint
        run: |
          pip install ansible ansible-lint
      - name: Run ansible-lint
        run: |
          ansible-lint ansible/site.yml || true
