[k8s_control]
192.168.10.11 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519 ansible_become=true

[k8s_nvidia]
192.168.10.21 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519 ansible_become=true

[k8s_intel]
192.168.10.31 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/id_ed25519 ansible_become=true

[k8s_workers:children]
k8s_nvidia
k8s_intel
