- name: 00 Base OS prep
  hosts: all
  become: true
  roles:
    - base-os

- name: 01 K8s control plane
  hosts: k8s_control
  become: true
  roles:
    - k8s-control

- name: 02 K8s workers
  hosts: k8s_workers
  become: true
  roles:
    - k8s-worker

- name: 03 GPU – NVIDIA
  hosts: k8s_nvidia
  become: true
  roles:
    - gpu-nvidia

- name: 04 GPU – Intel / Gaudi
  hosts: k8s_intel
  become: true
  roles:
    - gpu-intel

- name: 05 Platform apps
  hosts: k8s_control
  become: true
  roles:
    - platform-apps
